<div class="fullscreen-background-img"></div>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form [formGroup]="form" (submit)="login()">
                <div class="mb-md-5 mt-md-4 pb-5">
    
                  <h2 class="fw-bold mb-2 text-uppercase"><img id="clientLogo" src="assets/img/RW_Solutions_Logo.png" alt="Logotipo do cliente" width="300" ></h2>
                  
                  <app-message message={{message}}
                              class="alert-danger"
                              *ngIf="true == error"></app-message>

                  <div class="form-outline form-white mb-4">
                    <input type="email" id="typeEmailX" class="form-control form-control-lg"  autofocus formControlName="username" />
                    <label class="form-label" for="typeEmailX">E-mail</label>
                    <app-validators-message message="E-mail"
                                            *ngIf="form.get('username')?.errors && form.get('username')?.touched"></app-validators-message>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                    <label class="form-label" for="typePasswordX">Password</label>
                    <app-validators-message message="Password"
                                            *ngIf="form.get('password')?.errors && form.get('password')?.touched"></app-validators-message>
                  </div>
                  <button type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>
                </div>
    
                <div>
                  <p class="mb-0">version 1.0.0</p>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>