 
 <header>

    <nav class="navbar navbar-dark fixed-top bg-dark justify-content-end">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"><i class="fa-solid fa-right-from-bracket"></i></a>
            </li>
        </ul>
    </nav>
      
  </header>

  <main>
    <br>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
          <div class="col">
            <div class="card shadow-sm text-center">
              <img src="assets/img/roni.jpeg" width="100%" height="100%" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text">Com uma experiência de 2 anos na área de desenvolvimento de URA, expandi meus conhecimentos para o desenvolvimento web. Trabalhei com diversas tecnologias, incluindo Spring MVC, Spring Boot, JSF, CDI e JPA Hibernate, além de consumir e desenvolver webservices. Com essas habilidades, estou pronto para enfrentar novos desafios e continuar crescendo como profissional de tecnologia.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a ><i class="fa-solid fa-pencil fa-xl"></i></a>
                  </div>
                  <a href="https://www.linkedin.com/in/almeidaroni07/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm text-center">
              <img src="assets/img/willian.jpeg" width="100%" height="100%" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text">Como um entusiasta apaixonado por tecnologia, estou em constante busca de aprimoramento e aprendizado. Como estudante full-stack, minhas principais linguagens e frameworks incluem C#, .NET6 e Core, Javascript e Typescript, Angular e React. Também tenho experiência no desenvolvimento em WordPress. Com minha dedicação e habilidades técnicas, estou sempre me inovando.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a ><i class="fa-solid fa-pencil fa-xl"></i></a>
                  </div>
                  <a href="https://www.linkedin.com/in/william-almeida-santos-187a56113/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="mb-1">Informações sobre os co-fundadores da RW Solutions</p>
      <p class="mb-0">Visite o nosso Github <a href="https://github.com/rwsolutions07" target="_blank"><i class="fa-brands fa-square-github fa-xl"></i></a></p>
      <p class="mb-0">Visite o nosso Linkedin <a href="https://www.linkedin.com/in/rw-solutions-9ab070273/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></p>
    </div>
  </footer>

